*{
  margin: 0;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* MEDIA QUERIES */
@media ( max-width: 768px) {

.widgets{
  display: none;
}

.feed {
  flex: 0.7;
}

.app__body {
  width: 100%;
} 
}

@media ( max-width: 660px) {

  .row {
    max-width: 100%;
    padding: 0 10px;
  }

 .app__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .sidebar, .feed {
    flex: unset;
    width: 100%;
  }

  .sidebar {
    position: static !important;
    margin-bottom: 10px;
  }

  .feed {
    margin: 0 !important;
  }

  .headerOption{
    margin-right: 10px;
    font-size: 10px;
  }

  .headerOption__title {
    font-size: 10px;
  }

  .header__search{
    padding: 0px;
  }

  .header {
    display:flex;
    align-items:center;
  }

  .header  input::placeholder {
    color: transparent;
  }

  .header__search {
    width: 40px;
    cursor: pointer;
  }

  .header__search:hover {
    color: black;
  }
}

 
